/*================
 fonts  
 ================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* ================
keyframe  
==============*/
@keyframes anim{
    from{
        background-color: rgb(102, 230, 42);
    }
    to{
        background-color: rgb(245, 50, 15);
    }
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin-top: 70px;
}


/* =================================
top header style
===================================  */
.top-header{
    display: flex;
    background-color: #161616;
    width: 1100px;
    height: 500px;
    justify-content: center;
    border-radius: 30px;
    padding-top: 33px;
    padding-left: 30px;
    padding-right: 40px;
}
.header-img img{
    width: 450px;
    height: 500px;    
}

.header-info{
    width: 400pxfi;
    height: 324px;
    left: 246px;
    top: 100px;
    margin: 0;
}

.header-info h1{
    width: 331px;
    left: 206px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.header-info p{
    color: #FFFFFF;
    margin:30px 0px;
}
.header-info a{
    background-color: rgb(221, 62, 33);
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 5px;
    color: #FFFFFF;
    animation: anim 2s ease-in 0.1 infinite none none;
    animation-play-state: running;
}

/*=======================
 blog section style  
 =========================*/
.side-menu{
    display: grid;
    grid-template-columns: repeat(1,1rf);
    height: 200px;
    width: 150px;
    background-color: black;
    border-radius: 15px;
    padding: 15px;
    padding-top: 50px;
}
.info-button{
   background-color: #FFFFFF;
   color: black;
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 10px;
   width: 30px;
   height: 20px;
}

.info-button.select{
    background-color: red;
    color: #FFFFFF;
    animation: anim 2s ease-in 0.1 infinite none none;
    animation-play-state: running;
}
.container-2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    margin-top: 80px;
    width: 1000px;
    height: 400px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
    column-gap: 15px;
    margin-left: 20px;
}
.blog-item{
    border: 1.5px solid #d1cfcf;
    border-radius: 10px;
}

.blog-info{
    padding: 10px;
}
.blog-icon span{
    margin-right:  20px;
}

.upcomming-game{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.game-info{
    border: 1px solid rgb(224, 224, 223);
    padding: 12px;
    
}

.flag{
    display: flex;   
}
.game-time{
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

/* ==================
view all burtton 
===================*/
.view-all-button a{
    position: absolute;
    left: 650px;
    top: 1900px;
    background-color: rgb(238, 40, 5);
    color: white;
    padding: 30px 50px;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid khaki;
    display: none;
}


/* //////////////////==
footer styles
/////////// //////// ==*/
.footer{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 2050px;
    background-color: #161616;
    color: #FFFFFF;
    text-align: center;
}

.footer a{
    color: wheat;
    padding: 10px 20px;
    font-size: 30px;
}
.footer-item{
    display: grid;
    grid-template-columns: repeat(6,.2fr);
}

hr{
   width: 90%; 
}

/* ==================
    Media Quarry  
======================*/
/* =======mobile device  */
@media only screen and (max-width:600px) {
    .blog{
        grid-template-columns: repeat(1,1fr);
    }

    .upcomming-game{
        grid-template-columns: repeat(1,1fr);
    } 
    .container-2{
        display: block;
    }
    .side-menu{
        margin-bottom: 50px;
        display: flex;
        background-color: white;
        width: 70%;
        margin: 10px 20px;
    }
    .footer-item{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

/* ========Tablet device  */
@media only screen and (max-width:1200px) {
    .blog{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

    .upcomming-game{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .side-menu{
        margin-bottom: 50px;
        display: flex;
        background-color: white;
        width: 90%;
        margin: 10px 20px;
    }
    .view-all-button a{
        display: flex;
    } 
    .footer-item{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}